<!-- HEADER -->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-lg-2 me-0 px-3" href="/">Assignment Creator</a> <!-- Link to the main page -->

  <!-- SEARCH BAR-->
  <form class=" col-md-auto flex-fill" role="search" method="POST" action="/search"> <!-- Styling, method and action-->
    <input type="search" name="searchTerm" class="form-control form-control-dark" placeholder="Search for an assignment.." aria-label="Search" > <!-- SEARCHTERM - very important-->
  </form>
</header>