<!-- SIDEBAR -->
<nav id="sidebar" class="col-lg-2 d-md-block bg-dark sidebar collapse"> <!-- positioning, space, color-->
  <div class="pt-3 sidebar-sticky"> <!-- Sticky sidebar -->
    <ul class="nav flex-column"> <!-- Keeps them vertical not horizontal  -->

      <!-- Links for different pages -->
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/" > <!-- Main page -->
          Dashboard <!-- Dashboard -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"> 
          About <!-- About page -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">
          Help <!-- Help page -->
        </a>
      </li>
    </ul>

  </div>
</nav>