<!-- ABOUT PAGE -->
<div class="container-fluid bg-dark">
    <h1 class="h1" style="color: white;">About</h1>

    <div class="row">
        <div class="col">

          <!-- Breadcrumb nav to navigate to back to dashboard -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">DashBoard</a></li> <!-- Previous -->
                    <li class="breadcrumb-item active" style="color: #fff;">About</li> <!-- Current -->
                </ol>
            </nav>
        </div>

        <h1 class="h3" style="color: white;">About The Developer</h1>
        <p style="color: #fff;">My name is Sara Angelina Rahim. I am a student at Munster Technological University, I am studying Software Development.
        This webiste is my project for my class ServerSide Web Development SOFT7008.</p>

        <h1 class="h3" style="color: white;">About The Website</h1>
        <p style="color: #fff;">This website lets the user of the application be able to create/review/update and delete assignments from this assignment scheduling website.
            The user is able to create, update, delete and view students in the database.
            The user of the website is able to link students to an assignment which creates a report schedule,the user is able to view, delete and edit reports based on a students name.
            The user is able to create new assignments which includes information like; the owner, the name of the module, a description of the assignment, the percentage of module marks the assignment is worth and the due date for the assignment.
            The date when creating an entry defaults to 2 weeks from today's date. The user is able to search for results based on a particular owner, module, assignment type, etc. </p>
