<!-- HELP PAGE -->
<div class="container-fluid bg-dark">
    <h1 class="h1" style="color: white;">Help</h1>

    <div class="row">
        <div class="col">
          
          <!-- Breadcrumb nav to navigate to back to dashboard -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">DashBoard</a></li> <!-- Previous -->
                    <li class="breadcrumb-item active" style="color: #fff;">Help</li> <!-- Current -->
                </ol>
            </nav>
        </div>

        <h1 class="h3" style="color: white;">Different Icons</h1>

        <div class="d-flex justify-content gap-2"> <!-- styling, alignment for buttons -->
            
          <!-- Displaying used buttons -->
        <a  type="button" class="btn btn-light btn-small">
            <i class="bi bi-eye"></i></a> <p style="color: #fff;">- View page button</p>
          
          <a  type="button" class="btn btn-secondary btn-small">
            <i class="bi bi-pencil"></i>
          </a> <p style="color: #fff;">- Edit page button</p>

            <button type="submit" class="btn btn-danger btn-small">
              <i class="bi bi-trash3"></i>
            </button> <p style="color: #fff;">- Delete assignment button</p>
            </div>

            <h1 class="h3" style="color: white;">Dashboard</h1>
            <p style="color: #fff;">New Student: Create a new student <br> New Assignment Schedule: Create a new assignment schedule with a dropdown of existing students and assignmennts.<br>
            New Assignment: Create a new assignment. <br> View Schedule: View student assignment schedule reports based on a student name.<br>
            View Student: Viewing all students in the database.</p>
            <pre>

              <!-- image from dashboard -->
            <img src="css/img/help.jpg" alt="Description of the image" width="1000" height="80">

            </pre>